/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Use your new dark-gray and light-gray */
  @apply bg-dark-gray text-light-gray;
  margin: 0;
  font-family: /* ... rest of font-family ... */ ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}